<div class="object_parameters_list _marked">
    <p class="object_parameters_title">О площадке</p>
    <p class="object_parameters_item">Ресторан</p>
    <p class="object_parameters_item">Расположение за городом</p>
    <p class="object_parameters_item">{{item.restaurant_cuisine}} кухня</p>
    <p class="object_parameters_item">{{item.restaurant_own_alcohol}}</p>
    <p class="object_parameters_item">{{item.restaurant_parking}}</p>
</div>

<div class="object_parameters_list">
    <p class="object_parameters_title">Залы</p>
    <p class="object_parameters_item">4 помещения: 8, 40, 60, 70 человек</p>
</div>

<div class="object_parameters_list _marked">
    <p class="object_parameters_title">Разрешены</p>
    <p class="object_parameters_item">Свой алкоголь</p>
    <p class="object_parameters_item">Запуск фейерверка</p>
</div>

<div class="object_parameters_list _marked _big_list">
    <p class="object_parameters_title">За дополнительную плату</p>
    <div class="object_parameters_items">
    {{item.restaurant_extra_services}}
        <p class="object_parameters_item"></p>
        
    </div>
</div>

<div class="object_parameters_list">
    <p class="object_parameters_title">Оплата</p>
    <p class="object_parameters_item">Наличными, банковской картой или безналичным способом</p>
</div>

<div class="test">
    <p class="object_parameters_title">
    
    </p>
</div>