<div class="content_block">
		<div class="slices">
			<a  class="slice _link" href="#"><span>банкетные залы</span></a>
			<a  class="slice _link" href=""><span>Рестораны</span></a>
			<a  class="slice _link" href=""><span>Кафе</span></a>
			<a  class="slice _link" href=""><span>клубы</span></a>
			<a  class="slice _link" href=""><span>бары</span></a>
			<a  class="slice _link" href=""><span>в городе</span></a>
			<a  class="slice _link" href=""><span>на природе</span></a>
			<a  class="slice _link" href=""><span>С баней</span></a>
			<a  class="slice _link" href=""><span>Перейти в каталог<span> →</span></span></a>
		</div>
	</div>