<div data-page-type="post">

  <a class="post back_to_blog_list" href="/blog/">Статьи блога</a>

  <div class="post_wrapper">
  
    <h1>Документы для получения налогового вычета при покупке квартиры</h1>

    <figure>

      <img src="/img/blogTestImg.jpg" alt="">

      <figcaption></figcaption>
      
    </figure>

    <p>
      Вопрос приобретения жилья всегда волнительный, будь это ипотека на 
      несколько лет или единовременная оплата. Наше правительство стремится 
      облегчить населению этот накладный процесс, возвратив часть денег за 
      новое недвижимое имущество. Однако есть определенные ограничения. 
      Чтобы принимать помощь государства следует внимательно изучить его 
      законы. В этой статье мы поможем узнать, кто и в каком случае может 
      принять участие в этой программе, куда следует обратиться и какие 
      потребуются документы.
    </p>

    <h2>За счет чего происходит возврат средств</h2>

    <p>
      Государственный проект подразумевает именно реверсию денег, которые уже 
      были внесены налогоплательщиком. Проще говоря, участнику программы будут 
      отданы те средства, которые он за последние 3 года отчислял с каждой 
      заработной платы. Срок подачи заявления о возврате определен фактом, что 
      справка из налоговой службы 2-НДФЛ будет действовать только в течение 
      трех лет.
      Если вы находитесь в браке, и намерены улучшить жилищные условия, а свое 
      право на выплату уже реализовали, то хотим вас порадовать: имущество у 
      вас общее, а вот возможность вернуть деньги разная. Если оба супруга 
      являются налогоплательщиками, то реализовать льготу на возврат тринадцати 
      процентов может каждый из них.
    </p>

    <h3>С 1 января 2014 года в закон входят новые поправки</h3>

    <p>
      Если результат имущ. вычета за приобретенную недвижимость был меньше 
      разрешенных 2 млн. рублей, участник программы может повторно подать 
      заявление на выплату денег при покупке второго жилого помещения. Второй 
      раз он получит оставшиеся с 2 миллионов средства. Совокупная сумма льготы 
      в этом случае все равно будет не более 260 тыс. рублей. Однако если 
      покупка была произведена до 1 января 2014 года, то такая выплата может 
      быть реализована лишь однажды. И не важно, заберет ли покупатель все 
      положенные 260 тысяч или нет.
    </p>

    <h2>Куда подавать необходимые документы для получения налогового вычета при покупке квартиры</h2>

    <ul>

      <li>
        Внешний вид своего жилья или начинает строительство дома. Выйти на 
        этот уровень легко, естественно и без лишних затрат помогут услуги 
        дизайнеров студии Artek — команды креативных специалистов с большим 
        опытом работы в этой области.
      </li>

      <li>
        Проект, составленный специалистом и успешно реализованный на 
        практике — залог стиля и привлекательности помещений.
      </li>

      <li>
        Нестандартное цветовое решение, современный изысканный стиль, роскошные 
        предметы мебели и света.
      </li>

    </ul>

    <p>
      Размер имущ. вычета на процент по ссуде/ипотеке составляет 3 миллиона. Но 
      формула расчета денег остается прежней – умножаем наши проценты по кредиту 
      на налоговую ставку НДФЛ. 3 000 000 * 0,13 = 390 000 рублей.
    </p>

    <h3>Как рассчитать сумму выплаты</h3>

    <p>
      Если результат имущ. вычета за приобретенную недвижимость был меньше 
      разрешенных 2 млн. рублей, участник программы может повторно подать 
      заявление на выплату денег при покупке второго жилого помещения. Второй раз 
      он получит оставшиеся с 2 миллионов средства. Совокупная сумма льготы в этом 
      случае все равно будет не более 260 тыс. рублей. Однако если покупка была 
      произведена до 1 января 2014 года, то такая выплата может быть реализована 
      лишь однажды. И не важно, заберет ли покупатель все положенные 260 тысяч или
      нет.
    </p>

    <ol>

      <li>
        Внешний вид своего жилья или начинает строительство дома. Выйти на этот 
        уровень легко, естественно и без лишних затрат помогут услуги дизайнеров 
        студии Artek — команды креативных специалистов с большим опытом работы в 
        этой области.
      </li>

      <li>
        Проект, составленный специалистом и успешно реализованный на 
        практике — залог стиля и привлекательности помещений.
      </li>

      <li>
        Нестандартное цветовое решение, современный изысканный стиль, роскошные 
        предметы мебели и света.
      </li>

      <li>
        Хозяева таунхауса молодые, успешные и целеустремленные люди,
      </li>

      <li>
        Внешний вид своего жилья или начинает строительство дома. Выйти на этот 
        уровень легко, естественно и без лишних затрат помогут услуги дизайнеров 
        студии Artek — команды креативных специалистов с большим опытом работы в 
        этой области.
      </li>

    </ol>

    <p>
      Если результат имущ. вычета за приобретенную недвижимость был меньше 
      разрешенных 2 млн. рублей, участник программы может повторно подать заявление 
      на выплату денег при покупке второго жилого помещения. Второй раз он получит 
      оставшиеся с 2 миллионов средства. Совокупная сумма льготы в этом случае все 
      равно будет не более 260 тыс. рублей. Однако если покупка была произведена до 
      1 января 2014 года, то такая выплата может быть реализована лишь однажды. И 
      не важно, заберет ли покупатель все.
    </p>

    <div class="text_with_borders">
    
      <p>
        Любое строение, в котором предусмотрено проживание и прописка: квартира, 
        комната в общежитии или коммунальной квартире, частный дом и т.п. Новое 
        помещение должно предназначаться для проживания, а не для других целей. 
        Проще говоря, если квартира переоборудована под магазин или офис, имущ. 
        вычет не предусмотрен.
      </p>
    
    </div>

    <h4>Как рассчитать сумму выплаты</h4>
    
    <p>
      Сумма вычета за покупку недвижимости. Стоимость недвижимости мы умножаем на 13%, 
      результат – деньги, которые вам должны выплатить. Здесь есть только одно 
      ограничение, цена покупки не должна превышать 2 миллионов. Если она больше этой 
      цифры, то умножать на 0,13 мы все же будем 2 000 000. В результате, сумма 
      выплаты покупателю не будет превосходить 260 000 рублей.<br>Если вы находитесь 
      в браке, и намерены улучшить жилищные условия, а свое право на выплату уже 
      реализовали, то хотим вас порадовать: имущество у вас общее, а вот возможность 
      вернуть деньги разная. Если оба супруга являются налогоплательщиками, то 
      реализовать льготу на возврат тринадцати процентов может каждый из них.
    </p>

    <figure>

      <img src="/img/blogTestImg.jpg" alt="">

      <figcaption>
        Подпись к изображению: руки домик
      </figcaption>
      
    </figure>

    <p>
      Недостроенный жилой дом или другие вышеперечисленные объекты. В таком случае 
      деньги будут выплачиваться за строительные материалы и отделку, если вы 
      сохранили чеки.
    </p>
    
    <p>
      Если вы – мама в декрете, то тоже имеете возможность 
      участвовать в программе. Следует взять у работодателя справку 2-НДФЛ с данными 
      за предшествующие 3 года. Оставшуюся сумму вы получите, когда вернетесь на 
      работу. Если вы – неработающий пенсионер, то вам нужно будет предоставить 
      справку, что последние три года вы получали доход, с которого отчислялся НДФЛ 
      (13%), с пенсии этот процент не платится.
    </p>

  </div>

  <div class="restaurant_adv_wrapper">

    {{this.render('//components/generic/restaurant_adv_test.twig') | raw }}

  </div>

  <div class="post_wrapper">

    <p>
      Если результат имущ. вычета за приобретенную недвижимость был меньше разрешенных 
      2 млн. рублей, участник программы может повторно подать заявление на выплату 
      денег при покупке второго жилого помещения. Второй раз он получит оставшиеся с 2 
      миллионов средства. Совокупная сумма льготы в этом случае все равно будет не 
      более 260 тыс. рублей. Однако если покупка была произведена до 1 января 2014 года, 
      то такая выплата может быть реализована лишь однажды. И не важно, заберет ли 
      покупатель все.
    </p>

    <div class="post_slider">
      
      {{this.render('//components/generic/post_slider.twig') | raw }}

    </div>

    <p>
      Сумма вычета за покупку недвижимости. Стоимость недвижимости мы умножаем на 13%, 
      результат – деньги, которые вам должны выплатить. Здесь есть только одно ограничение, 
      цена покупки не должна превышать 2 миллионов. Если она больше этой цифры, то умножать 
      на 0,13 мы все же будем 2 000 000. В результате, сумма выплаты покупателю не будет 
      превосходить 260 000 рублей.
    </p>

    <div class="post_subtitle_whith_img">

      <div class="post_subtitle_img"></div>

      <p class="post_subtitle_text">
        Поместье находится в окружении живописной<br>природы, вдали от городского шума и суеты
      </p>

    </div>

    <p>
      Недостроенный жилой дом или другие вышеперечисленные объекты. В таком случае деньги 
      будут выплачиваться за строительные материалы и отделку, если вы сохранили чеки.<br>
      Если вы – мама в декрете, то тоже имеете возможность участвовать в программе. Следует 
      взять у работодателя справку 2-НДФЛ с данными за предшествующие 3 года. Оставшуюся 
      сумму вы получите, когда вернетесь на работу. Если вы – неработающий пенсионер, то 
      вам нужно будет предоставить справку, что последние три года вы получали доход, с 
      которого отчислялся НДФЛ (13%), с пенсии этот процент не платится.
    </p>

  </div>

  <div class="icon_wrapper">

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>
      
  </div>

  <div class="icon_wrapper">

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>
    
  </div>

  <div class="icon_wrapper">

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>

    <figure>

        <img src="/img/blogTestImg.jpg" alt="">

        <figcaption>Подпись к иконке в две строки</figcaption>
        
    </figure>
    
  </div>

  <div class="similar_posts">

    {{ this.render('//components/generic/similar_posts.twig') | raw }}
    
  </div>

  <script src="../../node_modules/swiper/dist/js/swiper.min.js"></script>

  <script>
      var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 5,
        slidesPerView: 4,
        slidesPerColumn: 1,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,

        breakpoints: {
            1440: {
              slidesPerView: 3,
            },

            767: {
              slidesPerView: 3,
            }
        }
      });
      var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 0,
        thumbs: {
          swiper: galleryThumbs
        }
      }); 
  </script>

  

</div>