<div class="filter" data-filter-wrapper>

	<div class="filter_select-checkbox-wrapper">
		{% for label,filter_item in filters %}
			{% if filter_item.type == 'select' %}
				{{ this.render('filter_select.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% elseif filter_item.type == 'input' %}
				{{ this.render('filter_input.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% else %}
				{{ this.render('filter_checkbox.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% endif %}
		{% endfor %}

		<div class="filter_select input_wrapper">
      <div class="filter_label input_label">Дата</div>
      <input type="text" name="date" data-filter-select-current/>
      <div class="calendar_wrapper">
        <div class="open_calendar_button"></div>
        <div class="calendar_container _hide">
          <div class="calendar"></div>
        </div>
      </div>
    </div>

	</div>

	<div class="filter_submit">
	    <div class="filter_submit_button _button" data-filter-button>Подобрать</div>
	</div>

</div>