.item_page_wrapper{
    position: relative;

    &:before{
        content: "";
        position: absolute;
        top: -30px;
        left: 0px;
        width: 398px;
        height: 952px;
        background: url("/img/card_page_top_Left_decorations.png");
        background-repeat: no-repeat;
    }

    &:after{
        content: "";
        position: absolute;
        top: -30px;
        right: 0px;
        width: 496px;
        height: 952px;
        background: url("/img/card_page_top_Big_Right_Decorations.png");
        background-repeat: no-repeat;
    }

    .map{
        height: 500px;
        padding-top: 50px;
        position: relative;
        z-index: 10;
    }
}

.content_block[data-page-type="item"]{
    position: relative;
    z-index: 10;
}

.object_head{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: calc(100% - 450px);
    position: relative;
    min-height: 472px;
    margin-top: 27px;
}

.object_gallery{
    display: flex;
    flex-flow: column nowrap;
    width: 710px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}

.object_gallery_main{
    width: 710px;
    height: auto;


    img{
        width: 100%;
        height: auto;
    }
}

.object_gallery_other{
    display: flex;
    flex-flow: row wrap;

    img{
        cursor: pointer;
        width: 138px;
        height: auto;
        border: 1px solid transparent;
        margin-right: 5px;
        margin-top: 5px;

        &:nth-child(5n){
            margin-right: 0;
        }
    }
    
    // для подсветки в галерее выбранного фото
    img._active{
        border: 1px solid #D83603;
    }

}

.object_meta{
    display: flex;
    flex-wrap: wrap;
    width: calc(50vw - 200px);

    .object_meta_block{
        display: flex;
    }

    .object_meta_item{
        margin: 0px 34px 20px 0px;

        &:last-child{
            margin-right: 0px;
        }

        .object_meta_title{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }

        .object_meta_value{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;

            span{
                font-weight: 600;
                font-size: 24px;
            }
        }
    }
}

.object_tags{
    padding-bottom: 20px;

    a{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-right: 25px;
    }
}

.object_book{
    background: linear-gradient(114.43deg, #FEDA5A 0.69%, #FFBA35 112.92%);
    border-radius: 5px;
    padding: 15px 20px 25px;

    .object_book_text{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .object_book_hidden{
        margin-top: 6px;
        display: flex;
        align-items: flex-end;

        &._active{

            .object_book_phone{

                .object_fake_phone{
                    display: none;
                }

                .object_real_phone{
                    display: block;
                }
            }

            .object_book_hidden_button{
                display: none;
            }
        }

        .object_book_phone{
            margin-right: 11px;

            .object_fake_phone{
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
                
                .object_fake_phone_snowflakes{
                    font-size: 0.85em;
                }
            }

            .object_real_phone{
                display: none;
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
            }
        }

        .object_book_hidden_button{
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #D83603;
            border-bottom: 1px dashed rgba(216, 54, 3, 0.5);
            margin: 0px 0px 2px;
            cursor: pointer;
        }
    }

    .object_book_action{
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        padding-left: 43px;
        background-image: url("/img/gift.svg");
        background-position: 0px 50%;
        background-size: 30px;
        background-repeat: no-repeat;
        min-height: 37px;
    }
}

.object_parameters{

    .object_parameters_list{
        margin-top: 20px;

        .object_parameters_title{
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .object_parameters_item{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }

        &._marked{
            
            .object_parameters_item{
                padding-left: 20px;
                background-image: url("/img/checkbox_pin.svg");
                background-position: 0px 6px;
                background-size: 12px;
                background-repeat: no-repeat;
            }
        }

        &._big_list{

            .object_parameters_items{
                display: flex;
                flex-flow: column wrap;
                height: 100px;

                .object_parameters_item{
                    width: 130px;
                }
            } 
        }
    }
}

.object_gallery._room{
    position: static;
}

.room_card_wrapper{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 60px 0 30px;
    background: url("/img/index_page_form_star_bg.png");

    &:nth-child(odd){
        .room_card{
            order: 2;
        }

        .room_card:before{
            content: "";
            position: absolute;
            top: -30px;
            right: 150px;
            width: 144px;
            height: 144px;
            background: url("/img/hall_Ball.png");
        }
    }

    &:nth-child(even){
        .room_card:before{
            content: "";
            position: absolute;
            top: -45px;
            left: 150px;
            width: 144px;
            height: 144px;
            background: url("/img/hall_star.png");
            background-repeat: no-repeat;
        }
    }

    .room_card{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        width: 448px;
        height: 408px;
        border: 1px solid #FFC839;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 36px 60px 0;
        padding: 100px 50px 0;
        box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
        background: white;

        & > h2{
            padding-bottom: 20px;
        }

        .room_card_content{
            display: flex;
            flex-flow: row wrap;

            p{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #333333;
                padding-bottom: 30px;
    
                span{
                    font-size: 20px;
                    color: black;
                }

                &:nth-child(odd){
                    padding-right: 25px;
                }
            }
        }

        .calendar_wrapper{
            position: relative;
        }

        a{
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            border-bottom: 1px dashed #D83603;

            &:before{
                content: "";
                position: absolute;
                top: 0px;
                left: -30px;
                width: 20px;
                height: 20px;
                background: url("/img/calendar_icon.svg");
            }
        }

        ._hide{
            display: none;
        }

        .calendar{
            position: absolute;
            top: 30px;
            left: 0px;
            width: 353px;
            height: 359px;
            padding: 20px 30px 25px;
            background: white;
            box-shadow: 0px 2px 23px #EDEDED;
            border-radius: 5px;
            z-index: 100;

            &:before{
                content: "";
                position: absolute;
                top: -8px;
                left: 30px;
                width: 16px;
                height: 16px;
                transform: rotate(45deg);
                background: white;
            }

            .fc-toolbar.fc-header-toolbar{
                padding-bottom: 20px;
            }

            .fc-day-header{
                font-size: 11px;
            }

            .fc-button-group{
                padding-right: 8px;
            }

            .fc-button.fc-button-primary{
                padding: 0;

                &:hover{

                    .fc-icon{
        
                        &:before{
                            background: url("/img/arrow-right-hover.svg");
                        }
                    }
                }
            }

            .fc-booking-button.fc-button.fc-button-primary{
                border: 1px solid #D83603;
                border-radius: 5px;
                width: 155px;
                height: 36px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
            
                &:active{
                    color: black;
                }
            
            }

            .fc-footer-toolbar{
                margin-top: 19px;
            }

            .fc-icon{
                position: relative;

                &:before{
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: 2px;
                    width: 22px;
                    height: 16px;
                    background: url("/img/arrow-right.svg");
                    background-size: contain;
                }
            }

            .fc-icon.fc-icon-chevron-left{

                &:before{
                    transform: rotate(180deg);
                    left: 0;
                }
            }

            .fc-today{
                background: transparent;
            }

            td, th{
                border: none;
            }

            .fc-dayGrid-view .fc-body .fc-row {
                min-height: 10px;
            }

            .fc-row.fc-week.fc-widget-content{
                height: 10px;
            }

            .fc-content-skeleton{
               height: 100%;
               padding-bottom: 0;

                .fc-day-top{
                    cursor: pointer;
                    position: relative;
                    height: 33px;
                }

                .fc-other-month{

                    .fc-day-number{
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    
                }

                .fc-free-day{
                    color: #5BA641;

                    &:before{
                        content: "";
                        position: absolute;
                        top: -1px;
                        left: 3px;
                        width: 33px;
                        height: 33px;
                        border: 1px solid #5BA641;
                        border-radius: 17px;
                        z-index: -1;
                    }
                }

                .fc-selected-date{
                    color: white;
 
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 4.5px;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #D83603;
                        border-radius: 17px;
                        background: #D83603;
                        z-index: -1;
                    }
                }

                table{
                    thead{
                        td{
                            text-align: center;
                            vertical-align: middle;

                            .fc-day-number{
                                float: none;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

.content_block.form_booking_wrapper{
    position: relative;
    margin: 0;
    width: 100%;
    background: url("/img/index_page_form_star_bg.png");
    z-index: 0;

    &:before{
        content: "";
        position: absolute;
        top: 60px;
        left: 0;
        width: 246px;
        height: 370px;
        background: url("/img/filter_pad_bg/card_page_Bottom_left_decorations.png");
    }

    &:after{
        content: "";
        position: absolute;
        top: 80px;
        right: 0;
        width: 246px;
        height: 370px;
        background: url("/img/filter_pad_bg/card_page_Bottom_right_decorations.png");
    }

}