.best_offer_slider{

        .swiper-container{
        overflow: hidden;
        padding-top: 50px;

        .swiper-button-next{
        top: 25px;
        right: 35px;
        width: 47px;
        height: 32px;
        background-image: url("/img/arrowSwiper.svg");
        background-size: 47px 32px;
        }

        .swiper-button-prev{
        top: 25px;
        left: auto;
        right: 100px;
        width: 47px;
        height: 32px;
        background-image: url("/img/arrowSwiperBack.svg");
        background-size: 47px 32px;
        }

        .swiper-wrapper{

        .item.swiper-slide{
            width: calc((100% / 4) - 30px);
            margin: 15px;
            background-color: white;
            height: auto;
            display: flex;
            flex-direction: column;
            transition: box-shadow 0.2s ease;
            border-bottom: none !important;
            border-radius: 5px;

            &.other{
                width: calc((100% / 5) - 20px);
                margin: 10px;

                .item_info{
                    padding: 10px 10px 25px;
                    height: calc(100% - 238px);
                }

                .item_img{
                    height: 238px;
                }
            }

            @media (max-width: 1650px) and (min-width: 1201px) {
                width: calc((100% / 3) - 30px);
            }
            @media (max-width: 1200px) and (min-width: 768px) {
                width: calc((100% / 2) - 30px);
            }
            @media (max-width: 767px){
                width: calc((100% / 1) - 30px);
            }

            .item_img{
                width: 100%;
                height: 302px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);

                &:hover{
                    box-shadow: 0px 10px 30px rgba(47, 61, 2, 0.25);
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .item_date-availability{
                    position: absolute;
                    top: 10px;
                    left: 0;
                    padding: 2px 12px 5px 10px;
                    border-radius: 0 3px 3px 0;
                    background: linear-gradient(135.63deg,
                                                #FEDA5A 0.69%, 
                                                #FFBA35 112.92%);
                }

                span{
                    font-family: "Montserrat";
                    font-size: 11px;
                    line-height: 13px;
                    font-weight: 500;
                    color: #333333;
                }


            }

            .item_info{
                padding: 10px 15px 25px;
                height: calc(100% - 342px);
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                @include for-mobile{
                    //height: calc(100% - 380px);
                    padding: 15px 10px 0px;

                }

                .item_info_top{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .item_name{
                        font-weight: bold;
                        line-height: 24px;
                        font-size: 20px;
                        text-align: center;
                        padding-bottom: 2px;

                        @include for-mobile{
                            font-size: 16px;
                            line-height: 142.56%;
                        }
                    }

                    .item_parent_name{
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        color: #5BA641;
                        text-align: center;
                    }

                    .item_address{
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        color: $clrTextInactive;
                        text-align: center;
                    }

                    .item_horizontal_raw{
                        border: 0;
                        border-bottom: 1px solid #D83603;
                        width: 60px;
                        padding-top: 12px;
                    }

                    .item_meta{
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 10px;

                        .item_meta_item{
                            width: 50%;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 22px;
                            white-space: nowrap;

                            @include for-mobile{
                                text-align: center;
                                width: 100%;
                            }

                            .item_meta_label{
                                color: $clrTextInactive;
                            }

                            .item_meta_text{                            
                            }

                            &:last-child {
                                padding: 0 0 0 0;
                            }
                        }

                        @include for-mobile{
                            flex-direction: column;
                            align-items: center;                        
                        }
                    }
                }
            }


            .item_additional-info{
                display: flex;
                flex-flow: column nowrap;
                position: absolute;
                top: 10px;
                right: 10px;

                @include for-mobile{
                    position: static;
                    flex-flow: row nowrap;
                }

                .item_gift-for-early-reservation{

                    width: 188px;
                    height: auto;
                    border-radius: 3px 3px 3px 3px;
                    background: url("/img/gift.svg"), #FFFFFF;
                    background-repeat: no-repeat;
                    background-position: 6px center;
                    margin-bottom: 6px;
                    padding: 6.5px 0 6.5px 24px;
                }
        
                .item_fireworks-availability{
                    width: 188px;
                    border-radius: 3px 3px 3px 3px;
                    background: url("/img/firework.svg"), #FFFFFF;
                    background-repeat: no-repeat;
                    background-position: 5px center;
                    margin-bottom: 6px;
                    padding: 6.5px 0 6.5px 24px;
                }

                span{
                    display: block;
                    font-family: "Montserrat";
                    font-size: 11px;
                    line-height: 13px;
                    font-weight: 500;
                    color: #333333;
                }
            } 
        }
        }

        @include for-mobile{
            padding-top: 0;

            .swiper-pagination.swiper-pagination-bullets{
                top: 475px;

                .swiper-pagination-bullet-active{
                    background: #FFC839;
                    border: 1px solid #FFC839;
                }
            }

            .swiper-button-next,
            .swiper-button-prev{
            display: none;
            }    
        }
    }

    @include for-mobile{
        padding: 50px 0 0 0;
    }
}